extend layout
block content
  script(type='text/javascript').
    $quality="medium";
    $server="http://78.46.49.57:21210/";
    $isDrawed=false;

    $('html').click(function() {
      $isDrawed=false;
      $(".imageContainer").remove();
    });

    function drawpicture(imgNo) {
      if($isDrawed){
        return
      }
      imageContainer = document.createElement("div");
      imageContainer.style.position = "absolute";
      imageContainer.style.textAlign = "center";
      imageContainer.style.width = "100%";
      imageContainer.style.height = "auto";
      imageContainer.className += " imageContainer";     

      var a = document.createElement('a');
      imageContainer.appendChild(a);
      //setQuality();
      //setServer();

      var actualImage = new Image();
      actualImage.src=""+$server+"images/"+$quality+"/"+imgNo+".jpg"+"?cachebreaker="+new Date().getTime();
      actualImage.className+="imageContainer"
      actualImage.style.padding = "8px"
      actualImage.style.backgroundColor = "rgba(0, 0, 0, 0.25)";
      actualImage.style.borderRadius = "8px";
      actualImage.style.height = "auto";
      actualImage.style.width = "auto";

      a.appendChild(actualImage);
      document.body.appendChild(imageContainer);
      $isDrawed=true;
    }

    function setQuality() {
        console.log("Quality Settings are being changed::")
        if($("#radio_ownsrcset").is(":checked"))
          setQualityByScreenSize();
        if($("#radio_uncompressed").is(":checked"))
          $quality="uncompressed";
        if($("#radio_large").is(":checked"))
          $quality="large";
        if($("#radio_medium").is(":checked"))
          $quality="medium";
        if($("#radio_small").is(":checked"))
          $quality="small";
        console.log("New Quality: "+$quality);
    }

    function setQualityByScreenSize() {
        console.log("screen.Width: "+screen.width);
        $quality="uncompressed";
        if (viewportWidth< 1536)
          $quality="large";
        if (viewportWidth< 640)
          $quality="medium";
        if (viewportWidth< 320)
          $quality="small";
    }
    
    function setServer() {
        console.log("Server Settings are being changed:")
        if($("#radio_htpt").is(":checked"))
          setServerByHighestTpt();
        if($("#radio_lpng").is(":checked"))
          setServerByLowestPing();
        if(!($("#radio_htpt").is(":checked")) && !($("#radio_lpng").is(":checked")))
        {

          //{
          //  console.log("Server-selection by hand:");
          //  var count=1;
          //  for (val of $servers) {
          //    var replaced = val.replace(":", "_");
          //    replaced = replaced.replace(".", "_");
          //    console.log("Server_"+count+": "+replaced+ $("#radio_"+replaced).is(":checked"));
          //    count=count+1;
          //    if($("#radio_"+replaced).is(":checked")){
          //      console.log("Setting server!!! Yeah i am the if")
          //      $server="http://"+val+"/";
          //    }
          //  }
          //}

          console.log("Server-selection by hand:"); //sad method.... the nice one (above) is not working due to some black magic -.-          
          var count=1;
          var checkup=$("input[name=serverAlgo]:checked").val().replace("server","");
          for (val of $servers) {
            if(count==checkup){
              console.log("Setting server!!! Yeah i am the if")
              $server="http://"+val+"/";
            }
            count=count+1;
          }
        }
        console.log('New Server: '+$server);
    }

    function setServerByHighestTpt() {
        console.log("Server-selection by tpt:");
        $server="http://78.46.49.57:21210/";
    }

    function setServerByLowestPing() {
      console.log("Server-selection by ping:");
      for (val of $servers) {
        var serverurl= "http://"+val;
        ping(serverurl).then(function(delta) {
            console.log("Server: "+val+", Ping: "+delta);
        }).catch(function(error) {
            console.log(String(error));
        });
      }
    }
    $('body').on('change', 'input[name=serverAlgo]:radio', setServer);
    //$('input[name=serverAlgo]:radio').change(setServer);
    $('body').on('change', 'input[name=qualityAlgo]:radio', setQuality);

    setQuality();
    setServer();
    
  div(id="picture-container")
    script(type="text/javascript").
      function drawthumbs() {
        var pictureContainer= document.getElementById('picture-container');
        for(var i= 1; i<=25; i++){
          var thumbnail= document.createElement("img")
          thumbnail.height=100;
          thumbnail.width=100;
          thumbnail.src="images/thumbnails/"+i+".jpg";

          var a =document.createElement('a');
          a.data=i;
          a.className='imageCreator';
          a.onclick= function() {
            drawpicture(this.data);
          }

          pictureContainer.appendChild(a);
          a.appendChild(thumbnail);
        }
        $('.imageCreator').click(function(event){
           console.log("Clicked on a, stopped propagation");
           event.stopPropagation();
        });
      }  
      drawthumbs();
block sidebar
  .widget
    h1 Algorithms
    h2 Quality
    fieldset
      input(type='radio', name='qualityAlgo', value='ownsrcset', id='radio_ownsrcset', checked)
      label(for='radio_ownsrcset')  Reimplemented srcset
      br
      input(type='radio', name='qualityAlgo', value='Uncompressed', id='radio_uncompressed')
      label(for='radio_uncompressed')   Uncompressed
      br
      input(type='radio', name='qualityAlgo', value='Large', id='radio_large')
      label(for='radio_large')  Large
      br
      input(type='radio', name='qualityAlgo', value='Medium', id='radio_medium')
      label(for='radio_medium')  Medium
      br
      input(type='radio', name='qualityAlgo', value='Small', id='radio_small')
      label(for='radio_small')  Small
    h2 Server
    fieldset#servers    
      input#radio_htpt(type='radio', name='serverAlgo', value='Highest throughput', checked)
      label(for='radio_htpt')  Highest throughput
      br
      input#radio_lpng(type='radio', name='serverAlgo', value='Lowest Ping')
      label(for='radio_lpng')  Lowest Ping       
    script(type='text/javascript'). 
      var count=0;   
      for (val of $servers) {
        var temp=count+1;
        var radio = document.createElement("input");
        radio.setAttribute('type', 'radio');
        radio.setAttribute('value', 'server'+temp);
        radio.setAttribute('name', 'serverAlgo');
        var replaced = val.replace(":", "_");
        replaced = replaced.replace(".", "_");
        radio.setAttribute('id', "radio_"+replaced);

        var label = document.createElement("label");
        label.setAttribute("for",replaced);
        label.innerHTML = "&nbsp"+"Server: "+temp;

        var br = document.createElement("br");

        $("#servers").append(br);
        $("#servers").append(radio);
        $("#servers").append(label);

        console.log(val);
        count=count+1;
      }
