extend layout
block content
  script(type='text/javascript').
    $quality="";
    $server="";
    $isDrawed=false;

    $('html').click(function() {
      $isDrawed=false;
      $(".imageContainer").remove();
    });

    function drawpicture(imgNo) {
      if($isDrawed){
        return
      }
      imageContainer = document.createElement("div");
      imageContainer.style.position = "absolute";
      imageContainer.style.textAlign = "center";
      imageContainer.style.width = "100%";
      imageContainer.style.height = "auto";
      imageContainer.className += " imageContainer";     

      var a = document.createElement('a');
      imageContainer.appendChild(a);
      setQuality();
      setServer();

      var actualImage = new Image();
      actualImage.src=""+$server+"images/"+$quality+"/"+imgNo+".jpg";
      actualImage.className+="imageContainer"
      actualImage.style.padding = "8px"
      actualImage.style.backgroundColor = "rgba(0, 0, 0, 0.25)";
      actualImage.style.borderRadius = "8px";
      actualImage.style.height = "auto";
      actualImage.style.width = "auto";

      a.appendChild(actualImage);
      document.body.appendChild(imageContainer);
      $isDrawed=true;
    }

    function setQuality() {
        if($("#radio_ownsrcset").is(":checked"))
          setQualityByScreenSize();
        if($("#radio_uncompressed").is(":checked"))
          $quality="uncompressed";
        if($("#radio_large").is(":checked"))
          $quality="large";
        if($("#radio_medium").is(":checked"))
          $quality="medium";
        if($("#radio_small").is(":checked"))
          $quality="small";
    }

    function setQualityByScreenSize() {
        console.log("screen.Width: "+screen.width);
        $quality="uncompressed";
        if (viewportWidth< 1536)
          $quality="large";
        if (viewportWidth< 640)
          $quality="medium";
        if (viewportWidth< 320)
          $quality="small";
    }
    
    function setServer() {
        if($("#radio_htpt").is(":checked"))
          setServerByHighestTpt();

        for (val of $servers) {
          console.log(val);
          var replaced = val.replace(":", "_");
          replaced = val.replace(".", "_");
          if($("#"+replaced).is(":checked"))
            $server="http://"+val+"/";
        }
        console.log('Current server: '+$server);
    }

    function setServerByHighestTpt() {
        $server="http://78.46.49.57:21210/";
    }

    
  div(id="picture-container")
    script(type="text/javascript").
      function drawthumbs() {
        var pictureContainer= document.getElementById('picture-container');
        for(var i= 1; i<=25; i++){
          var thumbnail= document.createElement("img")
          thumbnail.height=100;
          thumbnail.width=100;
          thumbnail.src="images/thumbnails/"+i+".jpg";

          var a =document.createElement('a');
          a.data=i;
          a.className='imageCreator';
          a.onclick= function() {
            drawpicture(this.data);
          }

          pictureContainer.appendChild(a);
          a.appendChild(thumbnail);
        }
        $('.imageCreator').click(function(event){
           console.log("Clicked on a, stopped propagation");
           event.stopPropagation();
        });
      }  
      drawthumbs();
block sidebar
  .widget
    h1 Algorithms
    h2 Quality
    fieldset
      input(type='radio', name='QualityAlgo', value='ownsrcset', id='radio_ownsrcset', checked)
      label(for='radio_ownsrcset')  Reimplemented srcset
      br
      input(type='radio', name='QualityAlgo', value='Uncompressed', id='radio_uncompressed')
      label(for='radio_uncompressed')   Uncompressed
      br
      input(type='radio', name='QualityAlgo', value='Large', id='radio_large')
      label(for='radio_large')  Large
      br
      input(type='radio', name='QualityAlgo', value='Medium', id='radio_medium')
      label(for='radio_medium')  Medium
      br
      input(type='radio', name='QualityAlgo', value='Small', id='radio_small')
      label(for='radio_small')  Small
    h2 Server
    fieldset#servers    
      input#radio_htpt(type='radio', name='ServerAlgo', value='Highest throughput', checked)
      label(for='radio_htpt')  Highest throughput
      br
    script(type='text/javascript'). 
      var count=0;   
      for (val of $servers) {
        var temp=count+1;
        var radio = document.createElement("input");
        radio.setAttribute('type', 'radio');
        radio.setAttribute('value', 'server'+temp);
        radio.setAttribute('name', 'ServerAlgo');
        var replaced = val.replace(":", "_");
        replaced = val.replace(".", "_");
        radio.setAttribute('id', replaced);

        var label = document.createElement("label");
        label.setAttribute("for",val);
        label.innerHTML = "&nbsp"+"Server: "+temp;

        var br = document.createElement("br");

        $("#servers").append(radio);
        $("#servers").append(label);
        $("#servers").append(br);

        console.log(val);
        count=count+1;
      }
