extend layout
block content
  script(src="scripts/serverSelection.js")
  script(src="scripts/qualitySelection.js")
  script(src="scripts/logging.js")
  script(type='text/javascript').
    $isDrawed=false;  

    $('html').click(function() {
      $isDrawed=false;
      $(".imageContainer").remove();
    });

    function drawpicture(imgNo) {
      if($isDrawed){
        return
      }
      imageContainer = document.createElement("div");
      imageContainer.style.position = "absolute";
      imageContainer.style.textAlign = "center";
      imageContainer.style.width = "100%";
      imageContainer.style.height = "auto";
      imageContainer.className += " imageContainer";     

      var a = document.createElement('a');
      imageContainer.appendChild(a);

      var actualImage = new Image();
      actualImage.src=""+$server+"images/"+$quality+"/"+imgNo+".jpg"+"?cachebreaker="+new Date().getTime();
      actualImage.className+="imageContainer"
      actualImage.style.padding = "8px"
      actualImage.style.backgroundColor = "rgba(0, 0, 0, 0.25)";
      actualImage.style.borderRadius = "8px";
      actualImage.style.height = "auto";
      actualImage.style.width = "auto";

      a.appendChild(actualImage);
      document.body.appendChild(imageContainer);
      $isDrawed=true;
    }

    $('body').on('change', 'input[name=serverAlgo]:radio', changeServerMode);
    //$('input[name=serverAlgo]:radio').change(setServer);
    $('body').on('change', 'input[name=qualityAlgo]:radio', changeQualityMode);

    setQuality();
    setServer();
    
  div(id="picture-container")
    script(type="text/javascript").
      function drawthumbs() {
        var pictureContainer= document.getElementById('picture-container');
        for(var i= 1; i<=25; i++){
          var thumbnail= document.createElement("img")
          thumbnail.height=100;
          thumbnail.width=100;
          thumbnail.src="images/thumbnails/"+i+".jpg";

          var a =document.createElement('a');
          a.data=i;
          a.className='imageCreator';
          a.onclick= function() {
            drawpicture(this.data);
          }

          pictureContainer.appendChild(a);
          a.appendChild(thumbnail);
        }
        $('.imageCreator').click(function(event){
           console.log("Clicked on a, stopped propagation");
           event.stopPropagation();
        });
      }  
      drawthumbs();
block sidebar
  .widget
    h1 Algorithms
    h2 Quality
    fieldset
      input(type='radio', name='qualityAlgo', value='ownsrcset', id='radio_ownsrcset', checked)
      label(for='radio_ownsrcset')  Reimplemented srcset
      br
      input(type='radio', name='qualityAlgo', value='qualityByTpt', id='radio_qtpt')
      label(for='radio_qtpt')  Select by DL-Speed 
      br
      input(type='radio', name='qualityAlgo', value='Uncompressed', id='radio_uncompressed')
      label(for='radio_uncompressed')   Uncompressed
      br
      input(type='radio', name='qualityAlgo', value='Large', id='radio_large')
      label(for='radio_large')  Large
      br
      input(type='radio', name='qualityAlgo', value='Medium', id='radio_medium')
      label(for='radio_medium')  Medium
      br
      input(type='radio', name='qualityAlgo', value='Small', id='radio_small')
      label(for='radio_small')  Small     
    h2 Server
    fieldset#servers    
      //input#radio_htpt(type='radio', name='serverAlgo', value='Highest throughput', checked)
      //label(for='radio_htpt')  Highest throughput
      //br
      input#radio_lpng(type='radio', name='serverAlgo', value='Lowest Latency, checked')
      label(for='radio_lpng')  Lowest Latency       
    script(type='text/javascript'). 
      sendLog("This is a Log This is a Log This is a Log This is a Log This is a Log This is a Log This is a Log This is a Log");